<div>
  <h1>Bienvenidos al chat mas basico del Mundo XD </h1>
  <div>
    <label>Escriba aqui su mensaje</label>
    <input type="text" id="chatBox">
  </div>
  <div>
    <h3>Registro de mensajes</h3>
    <p id="messagesLogs"></p>
  </div>

</div>