<div>
  <div>
    <h1>Formulario para cargar productos</h1>
    <form id="form" style="display: flex; flex-flow: column nowrap; align-items: baseline;">
      <label>Nombre</label>
      <input name="title">
      <label>Descripcion</label>
      <input name="description">
      <label>Codigo</label>
      <input name="code">
      <label>Precio</label>
      <input name="price" type="number">
      <label>Stock</label>
      <input name="stock" type="number">
      <label>Categoria</label>
      <input name="category">
      <input type="submit">
    </form>
    <button type="button" onclick="location.href='/'">Productos Ingresados</button>
  </div>
  <div>
    <h3 style="text-align:center">Productos ingresados al sistema</h3>
    <div id="prodsAdded"></div>
  </div>
</div>